
.main
  .header
    
    .header__left-box
      .header__left-box__currenr-group
        test
      %ul.header__left-box__member-list
        Member :  
        %li.header__left-box__member-list__member
          masa

    .header__edit-btn
      = link_to 'Edit','#'

  .messages
    .messages__message
      .messages__message__info
        .messages__message__info__talker
          masa
        .messages__message__info__date
          2020/03/26(Thu)09:35:36
      .messages__message__text
        おはよう
    .messages__message
      .messages__message__info
        .messages__message__info__talker
          masa
        .messages__message__info__date
          2020/03/26(Thu)09:36:36
      .messages__message__text
        いい天気だね
  .form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas fa-image', class: "icon")
          %input{type: "file" , class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn", value: "Send"}


