.side {
  width: 300px;
  height: 100vh;
  float: left;

  &__header{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;

    &__box{
      width: 260px;
      margin: 20px auto;
      background-color: #253141;
      height: 20px;
      display: flex;
      justify-content: space-between;

      &__user-name{
        width: 60px;
        line-height: 20px;
        color: white;
      }

      &__icon{
        width: 60px;
        display: flex;
        align-items: center;
        
        li {
          margin-left: 5px;
          margin: 0 0 0 auto;
        }

        i {
          color: #ffffff;
        }
      }
    }
  }

  &__groups{
    background-color: #2f3e51;
    height: calc(100vh - 100px);

    &__group{
      padding: 20px 20px 0px 20px;
      margin-bottom: 40px;

      &--name{
        font-size: 15px;
        color: white;
        margin-bottom: 5px;
      }

      &--messages{
        font-size: 11px;
        color: white;
      }
    }
  }
}